# Yarn ignores
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Python ignores
*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec

# TypeScript ignores
*.tsbuildinfo

# Jupyter/IPython Notebook ignores
*/.ipynb_checkpoints/*
.ipynb_checkpoints
.jupyter
.jupyter_ystore.db
ipython_config.py
profile_default/

# OS-specific ignores
.DS_Store

# IDE/Editor ignores
.Python
.dmypy.json
.mr.developer.cfg
.mypy_cache/
.pdm.toml
.project
.pybuilder/
.pydevproject
.pyre/
.pytest_cache/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.stylelintcache
.venv
.webassets-cache
.pnp.* # Plug and Play package manager
pyrightconfig.json
.vscode/
.virtual_documents/

# Environment variables
.env
ENV/
env.bak/
env/
.python-version # pyenv

# Build artifacts
__pycache__/
__pypackages__/
build/
cover/
coverage/
dist/
develop-eggs/
eggs/
sdist/
target/
wheels/
.eggs/

# Testing/Coverage reports
.coverage
.coverage.*
.hypothesis/
.nox/
.tox/
coverage.xml
htmlcov/
nosetests.xml
packages/docprovider/junit.xml
ui-tests/playwright-report/
ui-tests/test-results/

# Node.js/JavaScript ignores
.eslintcache
.yarn/
node_modules/
package-lock.json
labextension

# Database ignores
db.sqlite3
db.sqlite3-journal

# Celery ignores
celerybeat-schedule
celerybeat.pid

# Miscellaneous ignores
.cache
.bundle.*
.installed.cfg
MANIFEST
cython_debug/
dmypy.json
docs/_build/
docs/source/changelog.md
docs/source/ts
downloads/
instance/
lib/
lib64/
local_settings.py
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
poetry.toml
share/python-wheels/
var/
venv.bak/
venv/
.~*
~*
Data/features/training_feature_HPC_26011953_data.csv
Data/features/training_feature_HPC_26011953_metadata.csv
Data/features/training_feature_HPT_26011947_data.csv
Data/features/training_feature_HPT_26011947_metadata.csv
Data/features/training_feature_HPT_26011949_data.csv
Data/features/training_feature_HPT_26011949_metadata.csv
Data/features/training_feature_HPT_26011952_data.csv
Data/features/training_feature_HPT_26011952_metadata.csv
Data/features/training_feature_HPT_26011954_data.csv
Data/features/training_feature_HPT_26011954_metadata.csv
Data/features/training_feature_HPT_26011956_data.csv
Data/features/training_feature_HPT_26011956_metadata.csv
Data/snapshot_tables/averaged_final.csv
Data/snapshot_tables/training.csv
Data/snapshot_tables/averaged_final.csv
Data/snapshot_tables/training.csv
Data/

# !ok_nuovo_notebook.ipynb
src/notebooks/ok_nuovo_notebook.ipynb
